In [1]:
import pandas as pd
import numpy as np

In [5]:
# Series

number_list = pd.Series([1,2,3,4,5,6,])
print("Series")
print(number_list)

Series
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [18]:
# DataFrame

matrix = [[1,2,3],
         ['a','b','c'],
         [3,4,5],
         ['d',4,6]]
matrix_list = pd.DataFrame(matrix)
print("DataFrame")
print(matrix_list)

DataFrame
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [19]:
# attribute .info() : cek kolom yg membentuk dataframe itu, data types, berapa yg non null. (hanya dataframe)

print(matrix_list.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

In [13]:
# attribute .shape() : cek baris dan kolom 

print("Shape dari number_list:", number_list.shape)
print("Shape dari matrix_list:", matrix_list.shape)

Shape dari number_list: (6,)
Shape dari matrix_list: (4, 3)

In [14]:
# attribut .dtypes : cek tipe data di tiap kolom

print("Tipe data number_list:", number_list.dtypes)
print("Tipe data matrix_list:", matrix_list.dtypes)

Tipe data number_list: int64
Tipe data matrix_list: 0    object
1    object
2    object
dtype: object

In [15]:
# attribute .astype(nama_tipe_data) : convert tipe data berdasarkan tipe data (float, int, str, numpy.float, numpy.int, numpy.datetime)

print("konversi number_list ke str:", number_list.astype("str"))
print("Konversi matrix_list ke str:", matrix_list.astype("str"))

konversi number_list ke str: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: object
Konversi matrix_list ke str:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [22]:
# attribute .copy : duplikat data disimpan di variabel berbeda

num_list = number_list.copy()
print("Copy number_list ke num_list:", num_list)
mtr_list = matrix_list.copy()
print("Copy matrix_list ke mtr_list:", mtr_list)

Copy number_list ke num_list: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Copy matrix_list ke mtr_list:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [23]:
# attrubute .to_list() : mengubah series menjadi list (hanya series)

print(number_list.to_list())

[1, 2, 3, 4, 5, 6]

In [24]:
# attribute .unique() : nilai uni di kolom, hasil numpy array (hanya series)

print(number_list.unique())

[1 2 3 4 5 6]

In [25]:
# attribute .index() : mencari index/key dari series/dataframe

print("Index number_list:", number_list.index)
print("Index matrix_list:", matrix_list.index)

Index number_list: RangeIndex(start=0, stop=6, step=1)
Index matrix_list: RangeIndex(start=0, stop=4, step=1)

In [26]:
# attribute .columns : cek kolom yg tersedia di dataframe ( hanya dataframe)

print(" Column matrix_list:", matrix_list.columns)

 Column matrix_list: RangeIndex(start=0, stop=3, step=1)

In [28]:
# attribute .loc : mengiris berdasarkan nama kolom/index kolom

print(".loc[0:1] pada number_list:", number_list.loc[0:1])
print(".loc[0:1] pada matrix_list:", matrix_list.loc[0:1])

.loc[0:1] pada number_list: 0    1
1    2
dtype: int64
.loc[0:1] pada matrix_list:    0  1  2
0  1  2  3
1  a  b  c

In [30]:
# attribute .iloc : mengiris berdasarkan index kolom

print(".iloc[0:1] pada number_list:", number_list.iloc[0:1])
print(".iloc[0:1] pada matrix_list:", matrix_list.iloc[0:1])

.iloc[0:1] pada number_list: 0    1
dtype: int64
.iloc[0:1] pada matrix_list:    0  1  2
0  1  2  3

In [43]:
matrix_list.iloc[0:2,2].to_list

<bound method IndexOpsMixin.tolist of 0    3
1    c
Name: 2, dtype: object>

In [ ]:
Creating Series & Dataframe from List

In [46]:
# Create series from list
ex_list = ['a',1,3,5,'c','d']
ex_series = pd.Series(ex_list)
print(ex_series)

0    a
1    1
2    3
3    5
4    c
5    d
dtype: object

In [47]:
# Creating dataframe from list of list
ex_list_of_list = [[1, 'a','b','c'],
                  [2.5,'d','e','f'],
                  [5, 'g','h','i'],
                  [7.5, 'j','10.5','l']]
index = ['dq','lab','kar','lan']
cols = ['float','char','obj','char']
ex_df = pd.DataFrame(ex_list_of_list, index=index, columns=cols)
print(ex_df)

     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

In [ ]:
Creating Series & Dataframe from Dictionary

In [48]:
# Creating series from dictionary
dict_series = {'1':'a', '2':'b', '3':'c'}
ex_series = pd.Series(dict_series)
print(ex_series)

1    a
2    b
3    c
dtype: object

In [53]:
# Creating dataframe from dictionary
df_series = {'1':['a', 'b', 'c'],
            '2':['b', 'c', 'd'],
            '4':[2, 3, 'z']}
ex_df = pd.DataFrame(df_series)
print(ex_df)

   1  2  4
0  a  b  2
1  b  c  3
2  c  d  z

In [ ]:
Creating Series & Dataframe from Numpy Array

In [56]:
# Creating series from numpy array 1D
arr_series = np.array([1,2,3,4,5,6,6,7])
ex_series = pd.Series(arr_series)
print(ex_series)

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int32

In [57]:
# Creating dataframe from numpy array 2D
arr_df = np.array([[1, 2, 3, 5],
                  [5, 6, 7, 8],
                  ['a', 'b', 'c', 10]])
ex_df = pd.DataFrame(arr_df)
print(ex_df)

   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

In [60]:
# merubah data str menjadi angka misal 'a' menjadi 11, 'b' menjadi 12
df = pd.DataFrame(arr_df)
df.iloc[2,0:2] = [11,12]
print(df)

    0   1  2   3
0   1   2  3   5
1   5   6  7   8
2  11  12  c  10

In [63]:
df_csv = pd.read_csv("sample_csv.csv") # read csv
print(df_csv.head(4))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000

In [64]:
df_tsv = pd.read_csv("sample_tsv.tsv", sep='\t')  # read tsv (sep='\t')
print(df_tsv.head(4))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000

In [66]:
df_excel = pd.read_excel("sample_excel.xlsx", sheet_name="test") # read excel
print(df_excel.head(4))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000

In [68]:
# read JSON
url = "https://storage.googleapis.com/dqlab-dataset/covid2019-api-herokuapp-v2.json"
df_json = pd.read_json(url)
print(df_json.head(10))

                                                data          dt          ts
0  {'location': 'US', 'confirmed': 3363056, 'deat...  07-14-2020  1594684800
1  {'location': 'Brazil', 'confirmed': 1884967, '...  07-14-2020  1594684800
2  {'location': 'India', 'confirmed': 906752, 'de...  07-14-2020  1594684800
3  {'location': 'Russia', 'confirmed': 732547, 'd...  07-14-2020  1594684800
4  {'location': 'Peru', 'confirmed': 330123, 'dea...  07-14-2020  1594684800
5  {'location': 'Chile', 'confirmed': 317657, 'de...  07-14-2020  1594684800
6  {'location': 'Mexico', 'confirmed': 304435, 'd...  07-14-2020  1594684800
7  {'location': 'United Kingdom', 'confirmed': 29...  07-14-2020  1594684800
8  {'location': 'South Africa', 'confirmed': 2877...  07-14-2020  1594684800
9  {'location': 'Iran', 'confirmed': 259652, 'dea...  07-14-2020  1594684800

In [ ]:
# read SQL

import mysql.connector
import pandas as pd
#membuat koneksi ke database financial di https://relational.fit.cvut.cz/dataset/Financial
my_conn = mysql.connector.connect(host="relational.fit.cvut.cz",
                                 port=3306,
                                 user="guest",
                                 passwd="relational",
                                 database="financial",
                                 use_pure=True)
# buatlah query sql untuk membaca tabel loan
my_query = """
select * from loan:
"""

# jika menggunakan .read_sql_query utk membaca tabel loan
df_loan = pd.read_sql_query(my_query, my_conn)
# tampilkan 5 data teratas
df-loan.head()

# jika menggunakan .read_sql
df_loan = pd.read_sql(my_query, my_conn)
# tampilkan 5 data teratas
df_loan.head()

In [ ]:
# read Google BigQuery - digunakan jika telah punya akun GBQ

import pandas as pd
# buat query
query = """
select * from 'bigquery-public-data.covid19_jhu_csse_eu.summary' limit 1000;
"""
# baca data dari google big query
df_covid19_eu_summary = pd.read_gbq(query, project_id="XXXXXXXX")
# tampilkan 5 data teratas
df_covid19_eu_summary

In [ ]:
Write Dataset
setelah dilakukan data cleaning dataset yg sudah rapi tentunya disimpan terlebih dahulu ke dalam media penyimpanan

In [ ]:
.to_csv() : digunakan untuk export dataframe kembali ke csv atau tsv

df.to_csv("csv1.csv", index=False)
df.to_csv("tsv1.tsv", index=False, sep='\t')

In [ ]:
.to_clopboard() : export dataframe menjadi bahan copy jadi nanti bisa tinggal klik paste di excel / google sheets

df.to_clipboard()

In [ ]:
.to_excel() : export dataframe menjadi file excel
    
df_excel.to_excel("xlsx1.xlsx", index=False)

In [ ]:
.to_gbq() : export dataframe menjadi table di google bigquery
    
df.to_gbq("temp.test", project_id="XXXXX", if_exists="fail")
temp: nama dataset
test: nama table
if_exists: ketika tabel dgn dataset.table_name yg sama sudah ada, apa action yg ingin dilakukan
("fail": tidak melakukan apa-apa,
"replace": membuang tabel yg sudah ada dan mengganti yg baru
"append": menambah baris di tabel tsb dgn data yg baru)

In [ ]:
Indexing

In [72]:
import pandas as pd
df = pd.read_csv("sample_tsv.tsv", sep="\t")
print("Index:", df.index)   # single index
print("Columns:", df.columns)

Index: RangeIndex(start=0, stop=101, step=1)
Columns: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price'],
      dtype='object')

In [74]:
import pandas as pd
df = pd.read_csv("sample_tsv.tsv", sep="\t")
df_x = df.set_index(['order_date', 'customer_id', 'product_id', 'order_id']) # multi index (.set_index)
print(df_x)
print("Index df_x:", df_x.index)  # melihat multi index yg telah diset

                                                       city          province  \
order_date customer_id product_id order_id
2019-01-01 18055       P0648      1612339   Jakarta Selatan       DKI Jakarta
                       P3826      1612339   Jakarta Selatan       DKI Jakarta
                       P1508      1612339   Jakarta Selatan       DKI Jakarta
                       P0520      1612339   Jakarta Selatan       DKI Jakarta
                       P1513      1612339   Jakarta Selatan       DKI Jakarta
...                                                     ...               ...
           12681       P3388      1612390          Makassar  Sulawesi Selatan
                       P3082      1612390          Makassar  Sulawesi Selatan
                       P3354      1612390          Makassar  Sulawesi Selatan
                       P3357      1612390          Makassar  Sulawesi Selatan
                       P0422      1612390          Makassar  Sulawesi Selatan

                                              brand  quantity  item_price
order_date customer_id product_id order_id
2019-01-01 18055       P0648      1612339   BRAND_C         4     1934000
                       P3826      1612339   BRAND_V         8      604000
                       P1508      1612339   BRAND_G        12      747000
                       P0520      1612339   BRAND_B        12      450000
                       P1513      1612339   BRAND_G         3     1500000
...                                             ...       ...         ...
           12681       P3388      1612390   BRAND_S        10      450000
                       P3082      1612390   BRAND_R        18     1045000
                       P3354      1612390   BRAND_S        24      450000
                       P3357      1612390   BRAND_S        24      450000
                       P0422      1612390   BRAND_B         4     1325000

[101 rows x 5 columns]
Index df_x: MultiIndex([('2019-01-01', 18055, 'P0648', 1612339),
            ('2019-01-01', 18055, 'P3826', 1612339),
            ('2019-01-01', 18055, 'P1508', 1612339),
            ('2019-01-01', 18055, 'P0520', 1612339),
            ('2019-01-01', 18055, 'P1513', 1612339),
            ('2019-01-01', 18055, 'P3911', 1612339),
            ('2019-01-01', 18055, 'P1780', 1612339),
            ('2019-01-01', 18055, 'P3132', 1612339),
            ('2019-01-01', 18055, 'P1342', 1612339),
            ('2019-01-01', 18055, 'P2556', 1612339),
            ...
            ('2019-01-01', 17228, 'P0535', 1612387),
            ('2019-01-01', 17228, 'P0029', 1612387),
            ('2019-01-01', 17228, 'P3362', 1612387),
            ('2019-01-01', 17228, 'P3409', 1612387),
            ('2019-01-01', 12681, 'P1867', 1612390),
            ('2019-01-01', 12681, 'P3388', 1612390),
            ('2019-01-01', 12681, 'P3082', 1612390),
            ('2019-01-01', 12681, 'P3354', 1612390),
            ('2019-01-01', 12681, 'P3357', 1612390),
            ('2019-01-01', 12681, 'P0422', 1612390)],
           names=['order_date', 'customer_id', 'product_id', 'order_id'], length=101)

In [75]:
import pandas as pd
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_tsv.tsv", sep="\t")
# Set multi index df
df_x = df.set_index(['order_date', 'city', 'customer_id'])
# Print nama dan level dari multi index
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name,':',level)

order_date : Index(['2019-01-01'], dtype='object', name='order_date')
city : Index(['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
       'Makassar', 'Malang', 'Surabaya', 'Tangerang'],
      dtype='object', name='city')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')

In [ ]:
TEST

In [77]:
import pandas as pd
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_tsv.tsv", sep="\t")
# Set multi index df
df_x = df.set_index(['order_date', 'city', 'customer_id'])
# Print nama dan level dari multi index
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name,':',level)

order_date : Index(['2019-01-01'], dtype='object', name='order_date')
city : Index(['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
       'Makassar', 'Malang', 'Surabaya', 'Tangerang'],
      dtype='object', name='city')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')